* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
.navbar{
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
}
.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}
.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 30px;
    height: 30px;
    background-image: url(../img/user.png);
    background-size: contain;

}
.menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display:none;
}
.menu-toggler span{
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear; 
}
.navbar-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
}

.navbar-menu a:hover {
      color: #48dbfb;
 }

.sticky {
    background-color: #fff;
    padding: 18px 0;
}
.sticky{
    background-image:url(../img/logo.png);
}
.sticky .navbar-menu a{
    color:#111;
}
.sticky .menu-toggler span{
    background-color:#111;
}


#main {
    height: 100vh;
    min-height: 500px;
    background: url(../img/back.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#main .inner-width {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
}
#contact{
    height: 100vh;
    min-height: 500px;
    background: url(../img/back.jpg) no-repeat center;
    background-size: cover;

}
#contact .inner-width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
.cbox {
    
    background: rgba(0,0,0, 0.5);
    color: white;
    text-align:center;
    background-attachment: fixed;
    position: center;
    padding: 50px;
}

.cbox h1 {
    font-size: 40px;
    font-weight: 100;
    
 }
.contact-info{
    
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    align-items: center;
}
.contact-info .item{
    width:calc(33% - 20px);
    height: 160px;
    background-color:#353b48;
    color:#fff;
    text-align:center;
    border-radius:4px;
    cursor:pointer;
    transition: .3s linear;
    
}
.contact-info i{
    display:block;
    font-size:40px;
    line-height: 120px;
    height: 100px;
}
.contact-form{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.contact-form input, .contact-form textarea{
    width: 100%;
    height:50px;
    margin:10px 0;
    background-color:#353b48;
    border:none;
    outline:none;
    padding:20px;
    border-radius:4px;
    color:#fff;
}
.namebox, .emailbox{
    max-width:calc(50% - 10px);
}
.messagebox{
    min-height:200px;
    resize:vertical;
}
.contact-form .buttonsend{
    width:180px;
    background-color:transparent;
    color:#48dbfb;
    font-size:16px;
    border:2px solid #48dbfb;
    padding:0;
    margin-left:auto;
    cursor:pointer;
    transition: .3s linear;
}
.contact-form .buttonsend{
    background-color:#48dbfb;
    color:#fff;
}
#PersonnalInformation{
    height: 100vh;
    min-height: 500px;
    background: url(../img/back.jpg) no-repeat center;
    background-size: cover;

}
#PersonnalInformation .inner-width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
.pbox {
    
    background: rgba(0,0,0, 0.5);
    color: white;
    text-align:center;
    background-attachment: fixed;
    position: center;
    padding: 50px;
}

.pbox h1 {
    font-size: 40px;
    font-weight: 100;
    
 }
 .pbox h3 {
    font-size: 30px;
    font-weight: 70;
 }
 .pbox h5{
    font-size: 15px;
    font-weight: 50;  
 }
 .pbox a:link{
     color:white;
 }
 .pbox a:visited {
    color:white;
 }
 .pbox a :hover{
    color: #48dbfb;
 }
 .pcontent{
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    
}
.eachpart{
    background-color:#353b48;
    color:#fff;
    text-align:center;
    border-radius:4px;
    cursor:pointer;
   padding: 15%;
    margin:20px;
    justify-content: center;
   
}

@media screen and (max-width: 980px) {
.menu-toggler {
    display: block;
}

.navbar-menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right:-100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
}

.navbar-menu a {
    display: block;
    font-size: 30px;
    margin: 30px 0;
}

.sticky .navbar-menu {
    background-color: #f1f1f1;
}

.navbar-menu.active {
    right: 0;
 }

.menu-toggler.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
}

.menu-toggler.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggler.active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;
}

}

.box {
    width: 300px;
    background: rgba(0,0,0, 0.5);
    display: absolute;
    margin: 0 auto;
    margin-top: 2%;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.box img {
    padding-top: 10px;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 50%;
}
.box h1 {
    font-size: 40px;
    font-weight: 100;
 }

.box h5 {
    font-size: 20px;
    font-weight: 100;
 }


.box ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.box ul li {
    list-style: none;
   }

.box li a {
    font-size: 40px;
    color: white;
    text-decoration: none;
    transition: all ease-in-out 300ms;
}

.box li a:hover {
    /*color: #b9b9b9;*/
    color: #48dbfb;
}
